<%- include('./partials/header')%>
    <div class="all-green">

        <div class="card">
            <h2>Iniciar sesión</h2>
            <form class="formCard">
                <input type="text" class="inputTextAll" placeholder="correo electrónico" name="email">
                
                <input type="password" class="inputTextAll" name="pass" placeholder="contraseña">

                <button type="submit" class="ctaBtn">Registrarse</button>
            </form>
        </div>
    </div>

    <script src="src/script/script.js"></script>
</body>
</html>